<div class="container">
    <% if(extraProps.roleKey === 1) { %>
    <!----- ANY USER ----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="group_name">Группа</span></th>
                <th><span class="sorting" data-sort-key="specialty">Специальность</span></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(item) { %>
            <tr>
                <td><%= item.group_name %></td>
                <td><%= item.specialty %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } if(extraProps.roleKey === 2) { %>
    <!----- TEACHER ----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="group_name">Группа</span></th>
                <th><span class="sorting" data-sort-key="specialty">Специальность</span></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(item) { %>
            <tr>
                <td><a href="#" class="group" data-id="<%= item.group_id %>"><%= item.group_name %></a></td>
                <td><%= item.specialty %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } if(extraProps.roleKey === 3) { %>
    <!----- STUDENT or PARENT ----->
        <table class="table table-zebra">
        <thead>
        <tr>
            <th><span class="sorting" data-sort-key="group_name">Группа</span></th>
            <th><span class="sorting" data-sort-key="specialty">Специальность</span></th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <% if(item.group_id) { %>
                <td><a href="#" class="group" data-id="<%= item.group_id %>"><%= item.group_name %></a></td>
            <% } else { %>
                <td><%= item.group_name %></td>
            <% } %>
            <td><%= item.specialty %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
</div>