<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" height="38"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#groups">Группы</a></li>
                <li><a href="#students">Студенты</a></li>
                <li><a href="#subjects">Предметы</a></li>
                <li><a href="#teachers">Преподаватели</a></li>
            </ul>
            </li>
            </ul>

            <!-- TODO: refactor this shit -->
            <% if(!login) { %>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input id="login-input" type="text" placeholder="Логин" value="julia_korytko" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="password-input" type="password" placeholder="Пароль" value="1" class="form-control">
                        </div>
                        <button id="sign-in" class="btn btn-primary">Войти</button>
                    </form>
                </ul>
            <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <div class="navbar-form ">
                        <div class="form-group">
                            <strong id="login-label"><%= login %></strong>
                        </div>
                        <button id="sign-out" class="btn btn-primary">Выйти</button>
                    </div>
                </ul>
            <% } %>
        </div>
    </div>
</div>