.table-title {
    margin-top: 0;
}

/* table-accordion */
.table-accordion td,
.table-accordion th {
    border: none !important;
}

.table-accordion>tbody {
    border: 2px solid #E3E6E5;
    border-top: none;
}

.table-accordion>thead {
    background: #428bca;
    color: #f8f8f8;
}

.table-accordion th:first-child {
    border-radius: 4px 0 0 0;
}

.table-accordion th:last-child {
    border-radius: 0 4px 0 0;
}

.table-accordion>tbody>tr:nth-child(2n+2) {
    background: #E3E6E5;
}