<div class="container">
    <table class="table table-zebra">
        <thead>
        <tr>
            <th>Преподаватель</th>
            <th>Ученая степень</th>
            <th>Электронная почта</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <td><a href="#" class="teacher" data-id="<%= item.lector_id %>"><%= item.lector_name %></a></td>
            <td><%= item.lector_position %></td>
            <td><%= item.lector_email %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>