<div class="container">
    <% if(extraProps.roleKey === 1 || extraProps.roleKey === 3) { %>
    <!----- ANY USER && STUDENT or PARENT----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="lector_name">Преподаватель</span></th>
                <th><span class="sorting" data-sort-key="lector_position">Ученая степень</span></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(item) { %>
            <tr>
                <td><%= item.lector_name %></td>
                <td><%= item.lector_position %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } if(extraProps.roleKey === 2) { %>
    <!----- TEACHER ----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="lector_name">Преподаватель</span></th>
                <th><span class="sorting" data-sort-key="lector_position">Ученая степень</span></th>
                <!-- <th><span class="sorting" data-sort-key="lector_email">Электронная почта</span></th> -->
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(item) { %>
            <tr>
                <% if(item.lector_id) { %>
                    <td><a href="#" class="teacher" data-id="<%= item.lector_id %>"><%= item.lector_name %></a></td>
                <% } else { %>
                    <td><%= item.lector_name %></td>
                <% } %>
                <td><%= item.lector_position %></td>
                <!-- <td><%= item.lector_email %></td> -->
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } if(extraProps.roleKey === 4) { %>
    <!----- Admin ----->
    <table class="table table-zebra">
        <thead>
        <tr>
            <th><span class="sorting" data-sort-key="lector_name">Преподаватель</span></th>
            <th><span class="sorting" data-sort-key="lector_position">Ученая степень</span></th>
            <th><span class="sorting" data-sort-key="lector_email">Электронная почта</span></th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <td><a href="#" class="teacher" data-id="<%= item.lector_id %>"><%= item.lector_name %></a></td>
            <td><%= item.lector_position %></td>
            <td><%= item.lector_email %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
</div>