<div class="container">
    <table class="table table-zebra">
        <thead>
        <tr>
            <th>Студент</th>
            <th>Something</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <td>
                <a href="#" class="student" data-id="<%= item.student_id %>" data-group-id="<%= item.group_id %>">
                    <%= item.student_name %>
                </a>
            </td>
            <td>Something (hardcoded)</td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>