<div class="container">
    <% if(extraProps.roleKey === 1) { %>
    <!----- ANY USER ----->
        <h4 class="access-rights-error">У вас нет прав для просмотра этой страницы</h4>
    <% } if(extraProps.roleKey === 2) { %>
    <!----- TEACHER ----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="student_name">Студент</span></th>
                <th><span class="sorting" data-sort-key="student_notes">Заметки</span></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(item) { %>
            <tr>
                <td><%= item.student_name %></td>
                <td><%= item.student_notes %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } if(extraProps.roleKey === 3) { %>
    <!----- STUDENT or PARENT ----->
    <table class="table table-zebra">
        <thead>
        <tr>
            <th><span class="sorting" data-sort-key="student_name">Студент</span></th>
            <th><span class="sorting" data-sort-key="student_notes">Заметки</span></th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <% if(item.id_student) { %>
                <td>
                    <a href="#" class="student" data-id="<%= item.id_student %>" data-group-id="<%= item.group_id %>"><%= item.student_name %></a>
                </td>
            <% } else { %>
                <td><%= item.student_name %></td>
            <% } %>
            <td><%= item.student_notes %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
</div>