<div class="container">
    <% if(extraProps.roleKey === 1 || extraProps.roleKey === 3) { %>
    <!----- ANY USER && STUDENT or PARENT----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="subject_title">Предмет</span></th>
                <th><span class="sorting" data-sort-key="subject_credits">Кредиты</span></th>
                <th><span class="sorting" data-sort-key="lector_name">Преподаватель</span></th>
            </tr>
            </thead>
            <tbody>
            <% if(items.length > 0) { %>
                <% _.each(items, function(item) { %>
                <tr>
                    <td><%= item.subject_title %></td>
                    <td><%= item.subject_credits %></td>
                    <td><%= item.lector_name %></td>
                </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="3">По данному запросу ничего не найдено</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } if(extraProps.roleKey === 2 || extraProps.roleKey == 4) { %>
    <!----- TEACHER && Admin ----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="subject_title">Предмет</span></th>
                <th><span class="sorting" data-sort-key="subject_credits">Кредиты</span></th>
                <th><span class="sorting" data-sort-key="lector_name">Преподаватель</span></th>
            </tr>
            </thead>
            <tbody>
            <% if(items.length > 0) { %>
                <% _.each(items, function(item) { %>
                <tr>
                    <% if(item.subject_id) { %>
                        <td><a href="#" class="subject" data-id="<%= item.subject_id %>"><%= item.subject_title %></a></td>
                    <% } else { %>
                        <td><%= item.subject_title %></td>
                    <% } %>
                    <td><%= item.subject_credits %></td>
                    <td><%= item.lector_name %></td>
                </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="3">По данному запросу ничего не найдено</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</div>