<div class="container">
    <% if(extraProps.roleKey === 1 || extraProps.roleKey === 3) { %>
    <!----- ANY USER && STUDENT or PARENT----->
    <h4 class="access-rights-error">У вас нет прав для просмотра этой страницы</h4>
    <% } if(extraProps.roleKey === 2 || extraProps.roleKey == 4) { %>
    <!----- TEACHER && Admin ----->
    <% var modulesNum = 0,
    grades = ['', '1', '2Fx', '3E', '3D', '4C', '4B', '5B', '5A'],
    gradesLength = grades.length,
    i, j;
    if(items[0]) { modulesNum = Math.ceil(items[0].subject_credits/2); } %>
    <h4 class="table-title">Ведомость группы <%= extraProps.group_name %> по предмету <%= extraProps.subject_title %></h4>
    <table class="table table-zebra" data-group-id="<%= extraProps.group_id %>">
        <thead>
        <tr>
            <th><span class="sorting" data-sort-key="name_student">Студент</span></th>
            <% for(i = 0; i < modulesNum; i++) { %>
            <th><%= 'M' + (i+1) %></th>
            <% } %>
            <th>Итоговая оценка</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr data-student-id="<%= item.id_student %>">
            <td><%= item.name_student %></td>
            <% for(i = 0; i <= modulesNum; i++) {
                if(item.moduls[i]) { %>
                    <td>
                        <select class="grades" data-module-id="<%= item.moduls[i].module_id %>">
                            <% for(j = 0; j < gradesLength; j++) {
                                if(item.moduls[i].grade == grades[j]) { %>
                                    <option value="<%= grades[j] %>" selected><%= grades[j] %></option>
                                <% } else { %>
                                    <option value="<%= grades[j] %>"><%= grades[j] %></option>
                            <% }} %>
                        </select>
                    </td>
            <% }} %>
        </tr>
        <% }); %>
        </tbody>
    </table>

    <a href="#" class="cancel">Отменить редактирование</a>
    <a href="#" class="save_changes hidden">Сохранить изменения</a>

    <div class="dead-lines">
        <h4 class="table-title" style="margin-top: 100px;">Информация о dead-line оценок</h4>
        <table class="table-zebra table dead-lines-table">
            <thead>
            <tr>
                <th style="width: 106px;">Сокращение</th>
                <th>Название модуля</th>
                <th>Dead-line</th>
            </tr>
            </thead>
            <% if(items[0]) { %>
                <tbody>
                <% for(i = 0; i < modulesNum; i++) { %>
                <tr>
                    <td><%= 'M' + (i+1) %></td>
                    <td><%= items[0].moduls[i] ? items[0].moduls[i].module_name : null %></td>
                    <td><%= items[0].moduls[i] ? items[0].moduls[i].date : null %></td>
                </tr>
                <% } %>
                <tr>
                    <td>-</td>
                    <td><%= items[0].moduls[modulesNum] ? items[0].moduls[modulesNum].module_name : null %></td>
                    <td><%= items[0].moduls[modulesNum] ? items[0].moduls[modulesNum].date : null %></td>
                </tr>
                </tbody>
            <% } %>
        </table>
    </div>
    <% } %>
</div>