<div class="container">
    <h4 class="table-title">Some title</h4>
    <table class="table table-zebra">
        <thead>
        <tr>
            <th>Группа</th>
            <th>Семестр</th>
            <th>Преподаватель</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <td><%= item.group_name %></td>
            <td><%= item.semester %></td>
            <td><%= item.lector_name %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>