<div class="container">
    <% if(extraProps.roleKey === 1 || extraProps.roleKey === 3) { %>
    <!----- ANY USER && STUDENT or PARENT----->
        <h4 class="access-rights-error">У вас нет прав для просмотра этой страницы</h4>
    <% } if(extraProps.roleKey === 2) { %>
    <!----- TEACHER ----->
        <table class="table table-zebra">
            <thead>
            <tr>
                <th><span class="sorting" data-sort-key="group_name">Группа</span></th>
                <th><span class="sorting" data-sort-key="semester">Семестр</span></th>
                <th><span class="sorting" data-sort-key="lector_name">Преподаватель</span></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(item) { %>
            <tr class="subject-row" data-id="<%= item.subject_id %>" data-group-id="<%= item.group_id %>">
                <td><%= item.group_name %></td>
                <td><%= item.semester %></td>
                <td><%= item.lector_name %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } %>
</div>