<div class="container">
    <h4 class="table-title">Some title</h4>
    <table class="table table-zebra">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Группа</th>
            <th>Семестр</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item) { %>
        <tr>
            <td><%= item.subject_title %></td>
            <td><%= item.group_name %></td>
            <td>
                <a href="#" class="semester" data-id="<%= item.subject_id %>" data-group-id="<%= item.group_id %>"><%= item.semester %></a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>